/*------------------------------------*\
  # FONTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*------------------------------------*\
  # COMMON STYLES
\*------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
    font-weight: 700;
}
h1 {
    font-size: 64px;
    line-height: 80px;
    color: #fff;
}
h2 {
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}
h3 {
    margin: 10px 0px;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
p {
    margin: 10px 0px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #6C6C6C;
}
img {
    max-width: 100%;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 30px;
    background: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in;
}
.button:hover {
    transform: scale(1.05);
    background: tomato;
}
.button i {
    margin-left: 10px;
}

/*------------------------------------*\
  # HEADER
\*------------------------------------*/
header {
    background-color: #2D25A0;
}

/*------------------------------------*\
  # BANNER SECTION
\*------------------------------------*/
.banner {
    padding: 85px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner .banner-image {
    flex: 0 0 556px;
    transition: all 0.5s linear;
}
.banner .banner-image:hover {
    transform: scale(1.05);
}

/*------------------------------------*\
  # PLAYERS SECTION
\*------------------------------------*/
.players {
    padding: 80px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.players .player {
    padding: 15px 15px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/*------------------------------------*\
  # HIGHLIGHTS SECTION
\*------------------------------------*/
.highlights {
    padding: 80px 0;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.highlights .highlight-image {
    flex: 0 0 567px;
}

/*------------------------------------*\
  # ABOUT US SECTION
\*------------------------------------*/
#about-us {
    padding: 100px 0;
    background: url("../images/about-us-bg.jpg") no-repeat;
    background-size: cover;
}
.about-us {
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.about-us h2, .about-us p {
    color: whitesmoke;
}
.about-us .about-us-image {
    flex: 0 0 556px;
}

/*------------------------------------*\
  # FOOTER SECTION
\*------------------------------------*/
.footer {
    margin: 80px auto;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul.social-icons {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 15px;
}
.footer ul.social-icons li {
    flex: 0 1 32px;
}
.footer .copyright p {
    font-size: 18px;
    color: #000;
}
